{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "insertPragma": false,
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false
}
