.css-oxqsq8-MuiTypography-root.MuiTypography-body1 {
    font-size: 20px !important;
}

.css-kjhdhe-MuiTypography-root.MuiTypography-body1{
    font-size: 20px !important;
}

.css-kjhdhe-MuiTypography-root.MuiTypography-body1{
    font-size: 25px !important;
    font-weight: 550 !important;
}