.registerContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}
.registerBox {
  justify-content: 'center';
  align-items: center;
  width: 60%;
}
.registerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.textField {
  // width: 100%;
  border-radius: 15px; /* Đặt border-radius cho TextField */
}
.selectDistrict {
  height: 47.38px;
  border-radius: 15px;
  margin-bottom: 0px;
}
.selectDistrict .ant-select-selector {
  border-radius: 15px;
}
.selectDistrict .MuiOutlinedInput-root {
  border-radius: 15px !important; /* Góc bo */
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

/* Tùy chỉnh viền của TextField */
.textField .MuiOutlinedInput-root {
  border-radius: 15px;
}

.textField .MuiOutlinedInput-root:hover fieldset {
  border-color: rgba(242, 194, 207, 0.7); /* Thay đổi màu viền khi hover */
}

.textField .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: rgba(242, 194, 207, 0.7); /* Thay đổi màu viền khi focus */
}

.textField .MuiOutlinedInput-input {
  color: #000000; /* Màu chữ mặc định trong input */
}

.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
  color: #000000 !important; /* Màu chữ khi focus */
}
.textField .MuiOutlinedInput-root:hover .MuiOutlinedInput-input {
  color: #000000; /* Màu chữ khi hover */
}
