.user__card {
  max-width: 400px;
  margin: 15px auto;
  border: 1px solid #ccc;

  .ant-card-head {
    background-color: #f0f2f5;
    border-bottom: 1px solid #ccc;
  }
}
.line_home {
  height: 3px;
  width: 70%;
  margin: 30px auto;
  background: linear-gradient(90deg, #762e41 0%, #dc567a 100%);
  display: block;
  border: none;
}
